.img-container {
  width: 300px;
  object-fit: cover;
  border: 1px solid black;
}

.tool-name {
  font-size: 5rem !important; /*😊*/
  margin-top: 3rem;
}

.p-x-120 {
  padding-left: 120px;
  padding-right: 120px;
}
