<ng-container *ngIf="tool">

  <div class="text-center">
    <h1 class="tool-name">{{tool.name}}</h1>
  </div>
  <div class="row">
    <div class="col-sm m-5">
      <h2>{{tool.formattedAddress}}</h2>


      <google-map [options]="options" class="google-maps">
        <map-marker [position]="markerPosition"
                    [options]="markerOptions"></map-marker>
      </google-map>
      <div class="mt-3">
        <h2>Work day pick up time: </h2>
        <p>{{tool.pickUpTimeWorkDay}}</p>
        <h2>Weekend pick up time: </h2>
        <p>{{tool.pickUpTimeWeekend}}</p>
      </div>
    </div>
    <div class="col-sm m-5">
      <h2>{{tool.toolCategory}}</h2>
      <h2>{{tool.assistedTransportation}}</h2>
      <h2>{{tool.price}}€/24h</h2>

      <p>{{tool.description}}</p>
    </div>
    <div class="col-sm m-5">
      <div *ngFor="let image of tool.images">
        <img [src]="'data:image/png;base64, ' + image | safeHtml" alt="image" class="img-container"/>
      </div>
    </div>
  </div>

</ng-container>
