<app-top-menu></app-top-menu>
<div class="tool-main-content">
  <div class="tool-center-panel">
    <ng-container *ngIf="tool">
      <div class="tool-header">
        <h1>{{tool.name}}</h1>
        <p>{{tool.toolCategory}}</p>
      </div>
      <div class="tool-header-separator"></div>
      <div class="tool-main-info-panel">
        <div class="borrow-info">
          <div class="button-price">
            <button class="styled-button" (click)="doBorrow()">Borrow tool</button>
            <p class="price-text">{{tool.price}}€/day</p>
          </div>
          <div class="date-price">
            <mat-form-field appearance="fill">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [rangePicker]="picker" [dateFilter]="toolTimeslotFilter" [min]="minDate" [max]="maxDate">
                <input (dateChange)="setMinMax()" name="borrowedAt" [(ngModel)]="borrowModel.borrowedAt" type=""  matStartDate placeholder="Start date" disabled>
                <input (dateChange)="resetMinMax()" name="returnedAt" [(ngModel)]="borrowModel.returnedAt" type="" matEndDate placeholder="End date" disabled>
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
            </mat-form-field>
            <!--<p *ngIf="!priceCalculable" class="price-display-placeholder">Enter borrow dates to show price</p>-->
            <p *ngIf="priceCalculable" class="price-text">Total price: {{totalPrice}}€</p>
          </div>
        </div>
        <div class="lender-info">
          <!--<p class="lender-header">Lender:</p>-->
          <p class="lender-name">{{tool.simplifiedUserDTO.fullName}}</p>
          <div class="lender-rating">
            <span class="fa fa-star checked" *ngFor="let item of [].constructor(tool.simplifiedUserDTO.roundedReviewAverage); let i = index"></span>
            <span class="fa fa-star" *ngFor="let item of [].constructor(5 - tool.simplifiedUserDTO.roundedReviewAverage); let i = index"></span>
            <span class="ms-1">({{tool.simplifiedUserDTO.reviewAverage}})</span>
            <div class="rating-separator"></div>
            <span class="fa fa-user"></span>
            <span>{{tool.simplifiedUserDTO.reviewCount}}</span>
          </div>
          <div class="lender-more-info"><p (click)="openUserDialog()">More info</p></div>
        </div>
      </div>
      <div class="tool-header-separator"></div>
      <div class="tool-split-panel">
        <div class="tool-left-panel">
          <div class="tool-description-panel">
            <div class="section-header left">
              <h1>Description</h1>
              <div></div>
            </div>
            <p>{{tool.description}}</p>
          </div>
        </div>
        <div class="tool-right-panel">
          <div class="tool-pickup-panel">
            <div class="section-header right">
              <h1>Pickup</h1>
              <div></div>
            </div>
            <p>Work days: <span class="time-range">{{tool.pickUpTimeWorkDay}}</span></p>
            <p>Weekends: <span class="time-range">{{tool.pickUpTimeWeekend}}</span></p>
            <p>Address: <span class="time-range">{{tool.formattedAddress}}</span></p>
            <google-map [options]="options" class="google-maps">
              <map-marker [position]="markerPosition"
                          [options]="markerOptions"></map-marker>
            </google-map>
          </div>
          <div class="tool-images-panel">
            <div class="section-header right">
              <h1>Images</h1>
              <div></div>
            </div>
            <div *ngFor="let image of tool.images">
              <img [src]="'data:image/png;base64, ' + image | safeHtml" alt="image" class="img-container"/>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
