<div class="container">
  <div class="title-panel">
    <div class="text-center">
      <h1 class="my-5 app-title">Nežaidi? Parduok. Eneba.com</h1>
    </div>
  </div>
  <div class="center-panel d-flex align-items-center">
    <div class="card modal-background login-card text-center shadow px-3">
      <div *ngIf="!registration; else registrationTemplate">
        <div class="card-body">
          <h1 class="card-title mt-2 mb-4">{{'component.login.signIn' | translate}}</h1>
          <form #form="ngForm" (ngSubmit)="doLogin(form)">
            <div class="text-start">
              <app-form-group
                [hideLabel]="true"
                controlId="email"
                [form]="form">
                <input class="w-100"
                       type="text"
                       placeholder="{{'placeholder.email' | translate}}"
                       [(ngModel)]="loginModel.email"
                       name="email"
                       [required]="true">
              </app-form-group>
              <app-form-group
                [hideLabel]="true"
                controlId="password"
                [form]="form">
                <input class="w-100"
                       type="password"
                       placeholder="{{'placeholder.password' | translate}}"
                       [(ngModel)]="loginModel.password"
                       name="password"
                       [required]="true">
              </app-form-group>
              <a class="link-as-text" href="https://www.google.lt">{{'component.login.recoverPassword' | translate}}</a>
            </div>
            <button type="submit"
                    class="btn btn-basic active-border-color">{{'component.login.button.signIn' | translate}}</button>
          </form>
          <hr>
          <div class="my-3">
            <h4>{{'component.login.dontHaveAnAccount' | translate}}</h4>
            <button type="button"
                    class="btn btn-basic active-border-color"
                    (click)="toggleRegistration()">{{'component.login.button.signUpFree' | translate}}</button>
          </div>
        </div>
      </div>
      <ng-template #registrationTemplate>
        <div class="card-body">
          <h1 class="card-title mt-2 mb-4">{{'component.login.signUp' | translate}}</h1>
          <form #form2="ngForm" (ngSubmit)="doRegister(form2)">
            <div class="text-start">
              <app-form-group
                [hideLabel]="true"
                controlId="registerName"
                [form]="form2">
                <input class="w-100"
                       type="text"
                       placeholder="First name"
                       [(ngModel)]="registrationModel.name"
                       name="registerName"
                       [required]="true">
              </app-form-group>
              <app-form-group
                [hideLabel]="true"
                controlId="registerSurname"
                [form]="form2">
                <input class="w-100"
                       type="text"
                       placeholder="Last name"
                       [(ngModel)]="registrationModel.surname"
                       name="registerSurname"
                       [required]="true">
              </app-form-group>
              <app-form-group
                [hideLabel]="true"
                controlId="registerName"
                [form]="form2">
                <input class="w-100"
                       type="email"
                       placeholder="Email"
                       [(ngModel)]="registrationModel.email"
                       name="registerEmail"
                       [required]="true">
              </app-form-group>
              <app-form-group
                [hideLabel]="true"
                controlId="registerPassword"
                [form]="form2">
                <input class="w-100"
                       type="password"
                       placeholder="Password"
                       [(ngModel)]="registrationModel.password"
                       name="registerPassword"
                       [required]="true">
              </app-form-group>
            </div>
            <button type="submit"
                    class="btn btn-basic active-border-color">{{'component.login.button.signUp' | translate}}</button>
          </form>
          <hr>
          <button class="btn btn-basic"
                  (click)="toggleRegistration()">{{'component.login.registration.back' | translate}}</button>
        </div>
      </ng-template>
    </div>
    <div class="logo-panel">
      <h1 class="m-auto">[Nice logo/graphic here]</h1>
    </div>
  </div>
  <div class="alignment-panel">

  </div>
</div>
