.content-panel {
  height: calc(100% - 50px);
}

.listings-panel {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #666666;
}

.listings-top-half {
  flex-shrink: 0;
}

.listings-bottom-half {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}

.listings-header {
  h1 {
    line-height: 60px;
    font-size: 24pt;
    margin-bottom: 0;
    color: #444444;
  }
}

.listings-separator {
  width: 100%;
  height: 1px;
  margin: auto;
  background-color: #C4C4C4;
}

.sort-filter-panel {
  margin: 0;
  width: 100%;
}

.sort-filter-buttons {
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;

  .sort-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 8px;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    transition: background-color 0.1s;
    cursor: pointer;

    .sort-icon {
      width: 16px;
      height: 16px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("~src/assets/icons/sort.png");
    }

    span {
      font-size: 14pt;
      margin: 0 5px;
    }
  }

  .sort-button:hover {
    background-color: #01A6B00F;
  }

  .sort-button.selected {
    border-bottom: 2px solid #00A0C3;
    background-color: #01A6B025;
  }

  .filter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 8px;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    transition: background-color 0.1s;
    cursor: pointer;

    .filter-icon {
      width: 16px;
      height: 16px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("~src/assets/icons/filter.png");
    }

    span {
      font-size: 14pt;
      margin: 0 5px;
    }
  }

  .filter-button:hover {
    background-color: #01A6B00F;
  }

  .filter-button.selected {
    border-bottom: 2px solid #00A0C3;
    background-color: #01A6B025;
  }
}

.sort-filter-display {
  width: 100%;
  height: 0;
  margin-bottom: 0;
  transition: height 0.1s, margin-bottom 0.1s;
  overflow: hidden;
}

.sort-filter-display.sort-opened {
  height: 142px;
  margin-bottom: 8px;
}

.sort-filter-display.filter-opened {
  height: 300px;
  margin-bottom: 8px;
}

.sort-panel {
  width: 100%;
}

.sort-order-input {
  margin: 8px 0;
}

.sort-by-input {
  margin: 8px 0;
}

.apply-sort {
  margin: 8px 0;
  width: 60px;
  height: 30px;
  font-size: 12pt;
}

.filter-panel {
  width: 100%;
}

.price-filter-input {
  margin: 8px 0;
}

.price-input {
  width: 120px;
  height: 30px;
  margin-right: 10px;
  font-size: 14px;
}

.category-filter-input {
  margin: 8px 0;

  .categories-header {
    font-size: 14pt;
    margin-bottom: 8px;
  }

  input {
    margin-left: 16px;
  }
}

.apply-filter {
  margin: 8px 0;
  width: 60px;
  height: 30px;
  font-size: 12pt;
}

.tool-list-panel {
  width: 100%;
  min-height: 100%;
  padding: 8px 0;
}

.listing-item {
  width: 100%;
  max-width: 100%;
  height: 50px;
  transition: background-color 0.1s;
  display: flex;
  align-items: center;
  cursor: pointer;

  .availability-bar {
    width: 6px;
    height: 30px;
    border-radius: 3px;
    background-color: #F04000;
    margin: auto 8px;
    flex-shrink: 0;
  }

  .availability-bar.available {
    background-color: #20A000;
  }

  .category-icon {
    width: 24px;
    height: 24px;
    margin: 0;
    flex-shrink: 0;
  }

  .listing-text {
    margin: 0 8px;
    flex: 1 1 auto;
    min-width: 0;

    h1 {
      max-width: 100%;
      font-size: 16pt;
      line-height: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-x: hidden;
      color: #222222;
      margin: 0;
      padding-bottom: 3px;
    }

    p {
      font-size: 11pt;
      font-style: italic;
      color: #666666;
      margin: -3px 0 0 0;
    }
  }

  .details-button {
    text-align: center;
    font-style: italic;
    color: #666666;
    margin: 0 8px;
    flex-shrink: 0;
    visibility: hidden;
  }

  .details-button:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.listing-item:hover {
  background-color: #01A6B00F;

  .details-button {
    visibility: visible;
  }
}
