<google-map [options]="options" (mapClick)="mapClick($event)" class="fullscreen">
  <map-marker *ngFor="let markerPosition of markerPositions"
              [position]="markerPosition"
              [options]="markerOptions"></map-marker>
  <mat-icon (click)="logout()" class="logout-btn">logout</mat-icon>
  <div class="listings-panel" id="listings-panel">
    <div class="panel-header">
      <span style="width: 100%; height: 100%;"> Nearest tech </span>
    </div>
    <hr>
    <div class="searchOptionsRow">
      <button id="sort" class="horizontal icon filter">
        Sort
      </button>
      <button id="filter" class="horizontal icon sort">
        Filter
      </button>
    </div>
    <ul class="tool-list">
      <li *ngFor="let tool of tools" class="listing-row mt-1">
          <div class="listing" (click)="centerTool(tool)">
            <span class="circle" [ngClass]="{'available': tool.available}"></span>
            <img src="../assets/icons/{{tool.toolCategory}}.png" alt="Category" class="category-icon"/>
            <div class="listing-name">
            <span>
              {{tool.name}}
            </span>
              <div class="listing-price">
                {{tool.price}}€/d.
              </div>
            </div>
          </div>
          <a class="open-arrow" href="/"></a> <!--TODO: change the href to go to the specific description page-->
      </li>
    </ul>
  </div>
</google-map>
