<app-top-menu></app-top-menu>
<div id="profile-background">
  <div id="profile-center-panel">
    <div id="profile-side-panel">
      <div class="profile-side-separator"></div>
      <app-side-button #profile_my_listings [startSelected]=true text="My listings"
                       (selected)="myListingsSelected()"></app-side-button>
      <app-side-button #profile_account text="Account" (selected)="accountSelected()"></app-side-button>
      <app-side-button #profile_my_reviews text="My reviews" (selected)="myReviewsSelected()"></app-side-button>
      <app-side-button #profile_borrowed_tools_history text="Borrowing history" (selected)="borrowedToolsHistorySelected()"></app-side-button>
      <div class="profile-side-separator"></div>
    </div>

    <app-my-listings *ngIf="showMyListings"></app-my-listings>
    <app-account-page *ngIf="showAccount"></app-account-page>
    <app-my-reviews *ngIf="showMyReviews"></app-my-reviews>
    <app-borrow-history *ngIf="showBorrowHistory"></app-borrow-history>
  </div>

</div>
