<mat-dialog-content class="min-height-6rem text-center">
  <h1>How it went?</h1>
  <rating class="font-size-4rem" [(ngModel)]="ratingRequest.rating" [max]="max"
          [readonly]="isReadonly">
  </rating>
  <hr>
  <h2>Leave a comment:</h2>
  <textarea class="w-100" [(ngModel)]="ratingRequest.comment"></textarea>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-between">
  <button class="styled-button" (click)="doRate()">Confirm</button>
  <button class="styled-button no-color" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
