<div class="content-div">
  <div class="review-card-stars">
    <span class="fa fa-star checked" *ngFor="let item of [].constructor(review.rating); let i = index"></span>
    <span class="fa fa-star" *ngFor="let item of [].constructor(5 - review.rating); let i = index"></span>
    <span class="ms-3">Tool: {{review.toolName}}</span>
  </div>
  <br>
  <span class="review-card-comments">{{review.comments}}</span>
  <div class="review-card-footer">
    <span class=" text-end"><span class="me-2">{{review.reviewedBy}}</span><i>{{review.reviewedAt | date}}</i></span>
  </div>
  <hr class="review-card-hr-space">
  <div *ngFor="let answer of review.answers" class="ps-5">
    <span class="review-card-comments">{{answer.answer}}</span>
    <div class="review-card-footer">
      <span class="text-end">{{answer.answeredBy}}&nbsp;&nbsp;<i>{{answer.answeredAt | date}}</i></span>
    </div>
    <hr class="review-card-hr-space">
  </div>
  <div class="reply-section">
    <div *ngIf="!replyOpen" class="reply-closed">
      <button class="styled-button" (click)="showAddReply()">Add reply</button>
    </div>
    <div *ngIf="replyOpen" class="reply-open">
      <textarea class="w-100" [(ngModel)]="review.answer"></textarea>
      <button class="styled-button" (click)="addReply(review)">Reply</button>
      <button class="styled-button no-color" (click)="hideAddReply()">Cancel</button>
    </div>
  </div>
</div>
