@import "utils";

body {
  font-size: 16px;
  background-color: $background-color !important;
}

html, body {
  min-height: 100% !important;
  height: 100%;
}

select {
  &:hover {
    cursor: pointer;
  }
}

input[type="text"], input[type="password"], input[type="number"], select, input[type="date"], textarea, input[type="email"] {
  border-radius: 0;
  border: black solid 1px;
  height: 40px;
  font-size: x-large;
  padding-left: 4px;

  &:focus-visible {
    outline: none;
  }

  &:focus {
    border-color: $active-outline;
  }

  &:active {
    border-color: $active-outline;
  }
}

.link-as-text {
  text-decoration: none;
}

.help-block {
  color: red !important;
  height: 17px;
}

.fullscreen .map-container {
  height: 100% !important;
  width: 100% !important;
}

.modal-base-panel-class .mat-dialog-container {
  @extend .px-6rem;
  background-color: $modal-background;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
