$background-color: #F0F0F0;
$modal-background: #EEEEEE;
$active-outline: #FF774C;

.card.modal-background {
  background-color: $modal-background;
}

.active-border-color {
  border-color: $active-outline !important;
}

.px-6rem {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

.z-index-1 {
  z-index: 1
}
